<?xml version='1.0' encoding='UTF-8'?>
<?define ProductVersion = "1.16.0"?>
<?define ProductUpgradeCode = "44a012db-1481-49ef-a67d-6961aa465c2c"?>
<?define Manufacturer = "Smokeview"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name='FDS Verify'
        UpgradeCode="$(var.ProductUpgradeCode)"
        Language='1033'
        Version='$(var.ProductVersion)'
        Manufacturer="$(var.Manufacturer)"
        Scope='perUser'
        InstallerVersion='200'
        Compressed='yes'>
        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' />
        <SummaryInformation Keywords="FDS" Manufacturer="$(var.Manufacturer)" />
        <Property Id='DiskPrompt' Value="FDS Verify Installer" />
        <MajorUpgrade AllowSameVersionUpgrades="yes"
            DowngradeErrorMessage="A newer version of [ProductName] is already installed. If you are sure you want to downgrade, remove the existing installation via Programs and Features." />
        <Property Id="ALLUSERS" Secure="yes" Value="2" />
        <Property Id="MSIINSTALLPERUSER" Secure="yes" Value="1" />
        <StandardDirectory Id='AppDataFolder'>
            <Directory Id='Fireng' Name='Fireng'>
                <Directory Id='INSTALLDIR' Name='FDS Verify'>
                    <Component Id='FdsVerifyScript' Guid='021a625b-fb21-4d2e-bea8-c27af349a400'>
                        <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]" Permanent="yes"
                            Part="last" Action="set" System="no" />
                        <File Id='FdsVerifyScriptCMD' Name='fds-verify.cmd'
                            Source='fds-verify.cmd'
                            KeyPath='yes'>
                        </File>
                    </Component>
                    <Directory Id='BINDIR' Name='bin'>
                        <Component Id='FdsVerifyComponent'
                            Guid='cb6c1bd1-4f6d-4ce0-adb4-8bdc935d6f88'>
                            <Environment Id="FDS_VERIFY_PATH" Name="FDS_VERIFY_PATH"
                                Value="[BINDIR]\fds-inspect.exe" Permanent="no" Action="set"
                                System="no" />
                            <File Id='FdsInspectEXE' Name='fds-inspect.exe'
                                Source='fds-inspect/target/release/fds-inspect.exe'
                            />
                            <File Id='FdsVerifyEXE_latest' Name='fds-verify-latest.exe'
                                Source='windows_build/latest/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_10_1' Name='fds-verify-6.10.1.exe'
                                Source='windows_build/6.10.1/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_10_0' Name='fds-verify-6.10.0.exe'
                                Source='windows_build/6.10.0/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_9_1' Name='fds-verify-6.9.1.exe'
                                Source='windows_build/6.9.1/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_9_0' Name='fds-verify-6.9.0.exe'
                                Source='windows_build/6.9.0/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_8_0' Name='fds-verify-6.8.0.exe'
                                Source='windows_build/6.8.0/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_7_9' Name='fds-verify-6.7.9.exe'
                                Source='windows_build/6.7.9/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_7_8' Name='fds-verify-6.7.8.exe'
                                Source='windows_build/6.7.8/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_7_7' Name='fds-verify-6.7.7.exe'
                                Source='windows_build/6.7.7/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_7_6' Name='fds-verify-6.7.6.exe'
                                Source='windows_build/6.7.6/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_7_5' Name='fds-verify-6.7.5.exe'
                                Source='windows_build/6.7.5/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_7_4' Name='fds-verify-6.7.4.exe'
                                Source='windows_build/6.7.4/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_7_3' Name='fds-verify-6.7.3.exe'
                                Source='windows_build/6.7.3/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_7_1' Name='fds-verify-6.7.1.exe'
                                Source='windows_build/6.7.1/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_7_0' Name='fds-verify-6.7.0.exe'
                                Source='windows_build/6.7.0/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_5_3' Name='fds-verify-6.5.3.exe'
                                Source='windows_build/6.5.3/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_5_1' Name='fds-verify-6.5.1.exe'
                                Source='windows_build/6.5.1/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_5_0' Name='fds-verify-6.5.0.exe'
                                Source='windows_build/6.5.0/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_4_0' Name='fds-verify-6.4.0.exe'
                                Source='windows_build/6.4.0/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_3_2' Name='fds-verify-6.3.2.exe'
                                Source='windows_build/6.3.2/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_3_1' Name='fds-verify-6.3.1.exe'
                                Source='windows_build/6.3.1/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_3_0' Name='fds-verify-6.3.0.exe'
                                Source='windows_build/6.3.0/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_2_0' Name='fds-verify-6.2.0.exe'
                                Source='windows_build/6.2.0/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_6_1_2' Name='fds-verify-6.1.2.exe'
                                Source='windows_build/6.1.2/src/dist/bin/fds.exe'
                            />
                            <File Id='FdsVerifyEXE_5_5_3' Name='fds-verify-5.5.3.exe'
                                Source='windows_build/5.5.3/src/dist/bin/fds.exe'
                            />
                        </Component>
                        <Component Id='CommonRender' Guid='c9eb176c-5dbb-46f4-b0bd-c81e48de8055'>
                            <File Id='impi' Name='impi.dll'
                                Source='C:/Program Files (x86)/Intel/oneAPI/mpi/latest/bin/impi.dll'></File>
                            <File Id='libifcoremd' Name='libifcoremd.dll'
                                Source='C:/Program Files (x86)/Intel/oneAPI/2024.2/bin/libifcoremd.dll'></File>
                            <File Id='libiomp5md' Name='libiomp5md.dll'
                                Source='C:/Program Files (x86)/Intel/oneAPI/2024.2/bin/libiomp5md.dll'></File>
                            <File Id='libmmd' Name='libmmd.dll'
                                Source='C:/Program Files (x86)/Intel/oneAPI/2024.2/bin/libmmd.dll'></File>
                            <File Id='svml_dispmd' Name='svml_dispmd.dll'
                                Source='C:/Program Files (x86)/Intel/oneAPI/2024.2/bin/svml_dispmd.dll'></File>
                            <File Id='libfabric' Name='libfabric.dll'
                                Source='C:/Program Files (x86)/Intel/oneAPI/mpi/2021.9.0/libfabric/bin/libfabric.dll'></File>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </StandardDirectory>
        <Feature Id='SMVLuaFeature' Level='1'>
            <ComponentRef Id='FdsVerifyScript' />
            <ComponentRef Id='FdsVerifyComponent' />
            <ComponentRef Id='CommonRender' />
        </Feature>
    </Package>
</Wix>
