<?xml version='1.0' encoding='UTF-8'?>
<?define ProductVersion = "1.2.31"?>
<?define ProductUpgradeCode = "1940d8a1-c842-442f-bf5d-00a570219bdb"?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='Smokeview Lua'
        Id='*'
        UpgradeCode="$(var.ProductUpgradeCode)"
        Language='1033'
        Version='$(var.ProductVersion)'
        Manufacturer='Smokeview'>
        <Package Id='*'
            InstallScope='perUser'
            InstallPrivileges='limited'
            Keywords='Installer'
            Description="Smokeview Lua Installer"
            Comments='A modified smokeview with the ability to run Lua scripts.'
            Manufacturer='Smokeview'
            InstallerVersion='200'
            Languages='1033'
            Platform='x64'
            Compressed='yes' />
        <!-- <Condition Message="You need to be an administrator to install this
        product.">Privileged</Condition> -->
        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' />
        <Property Id='DiskPrompt' Value="Smokeview Lua Installer" />
        <Upgrade Id="$(var.ProductUpgradeCode)">
            <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes"
                Property="NEWERVERSIONDETECTED" />
            <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes"
                IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
        </Upgrade>
        <Condition Message="A newer version of this software is already installed.">NOT
            NEWERVERSIONDETECTED</Condition>
        <Property Id="ALLUSERS" Secure="yes" Value="2" />
        <Property Id="MSIINSTALLPERUSER" Secure="yes" Value="1" />
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='Fireng' Name='Fireng'>
                    <Directory Id='INSTALLDIR' Name='Smokeview Lua'>
                        <Component Id='SMVLuaScript' Guid='69f8aba5-7eca-44e8-8319-9fd23d71af9b'
                            Win64="yes">
                            <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]" Permanent="yes"
                                Part="last" Action="set" System="no" />
                            <File Id='SMVLuaScriptCMD' Name='smvlua.cmd' Source='smvlua.cmd'
                                KeyPath='yes'>
                            </File>
                        </Component>
                        <Component Id='LuaScript' Guid='babec8ea-faad-42d5-9276-19594a1328ee'
                            Win64="yes">
                            <File Id='LuaScriptCMD' Name='lua.cmd' Source='lua.cmd' KeyPath='yes'>
                            </File>
                        </Component>
                        <Directory Id='BINDIR' Name='bin'>
                            <Component Id='SMVLuaComponent'
                                Guid='767754dc-8fe5-4cbf-920e-6051e321312f' Win64="yes">
                                <File Id='SMVLuaEXE' Name='smvlua.exe'
                                    Source='dist/bin/smokeview.exe' KeyPath='yes'>
                                </File>
                                <File Id='SMVLuaDefaultIni' Name='smokeview.ini'
                                    Source='dist/config/objects.ini'>
                                </File>
                                <File Id='SMVLuaDefaultObjects' Name='objects.svo'
                                    Source='dist/config/objects.svo'>
                                </File>
                            </Component>
                            <Component Id='LuaComponent'
                            Guid='eea182cb-d651-4cbf-b1f7-18b5bceee877' Win64="yes">
                                <File Id='LuaEXE' Name='lua.exe' Source='dist/bin/lua.exe' KeyPath='yes'>
                                </File>
                            </Component>
                            <Component Id='CommonRender' Guid='c9eb176c-5dbb-46f4-b0bd-c81e48de8055'
                                Win64="yes">
                                <File Id='bounds' Name='bounds.lua' Source='dist/share/smokeview/bounds.lua'
                                    KeyPath='yes'></File>
                                <File Id='camera' Name='camera.lua' Source='dist/share/smokeview/camera.lua'></File>
                                <File Id='clipping' Name='clipping.lua'
                                    Source='dist/share/smokeview/clipping.lua'></File>
                                <File Id='constants' Name='constants.lua'
                                    Source='dist/share/smokeview/constants.lua'></File>
                                <File Id='gnuplotlua' Name='gnuplot.lua'
                                    Source='dist/share/smokeview/gnuplot.lua'></File>
                                <File Id='inioptions' Name='inioptions.lua'
                                    Source='dist/share/smokeview/inioptions.lua'></File>
                                <File Id='iniparser' Name='iniparser.lua'
                                    Source='dist/share/smokeview/iniparser.lua'></File>
                                <File Id='json' Name='json.lua' Source='dist/share/smokeview/json.lua'></File>
                                <File Id='load' Name='load.lua' Source='dist/share/smokeview/load.lua'></File>
                                <File Id='pl3d' Name='pl3d.lua' Source='dist/share/smokeview/pl3d.lua'></File>
                                <File Id='plot' Name='plot.lua' Source='dist/share/smokeview/plot.lua'></File>
                                <File Id='render' Name='render.lua' Source='dist/share/smokeview/render.lua'></File>
                                <File Id='smv' Name='smv.lua' Source='dist/share/smokeview/smv.lua'></File>
                                <File Id='ssf' Name='ssf.lua' Source='dist/share/smokeview/ssf.lua'></File>
                                <File Id='ssfcommands' Name='ssfcommands.lua'
                                    Source='dist/share/smokeview/ssfcommands.lua'></File>
                                <File Id='ssfparser' Name='ssfparser.lua'
                                    Source='dist/share/smokeview/ssfparser.lua'></File>
                                <File Id='tour' Name='tour.lua' Source='dist/share/smokeview/tour.lua'></File>
                                <File Id='unload' Name='unload.lua' Source='dist/share/smokeview/unload.lua'></File>
                                <File Id='view' Name='view.lua' Source='dist/share/smokeview/view.lua'></File>
                                <File Id='window' Name='window.lua' Source='dist/share/smokeview/window.lua'></File>
                                <File Id='lfs' Name='lfs.dll' Source='dist/bin/lfs.dll'></File>
                                <File Id='lpeg' Name='lpeg.dll' Source='dist/bin/lpeg.dll'></File>
                                <!-- <File Id='lua' Name='lua.dll' Source='dist/bin/lua.dll'></File> -->
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallValidate" />
        </InstallExecuteSequence>
        <Feature Id='SMVLuaFeature' Level='1'>
            <ComponentRef Id='SMVLuaScript' />
            <ComponentRef Id='SMVLuaComponent' />
            <ComponentRef Id='LuaScript' />
            <ComponentRef Id='LuaComponent' />
            <ComponentRef Id='CommonRender' />
        </Feature>
    </Product>
</Wix>
