Source: fds-6.5.2
Section: science
Priority: optional
Maintainer: Jake O'Shannessy <joshannessy@smokecloud.io>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://pages.nist.gov/fds-smv/

Package: fds-6.5.2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fire Dynamics Simulator
 Fire Dynamics Simulator (FDS) is a large-eddy simulation (LES) code for
 low-speed flows, with an emphasis on smoke and heat transport from fires.
