
on: [push, pull_request]

name: FDS-Spack

jobs:
  build-rpm:
    name: Build RPM
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container:
          # - "fedora:40"
          - "fedora:42"
          # - "rockylinux:9"
          # - "almalinux:10"
        compiler:
          - "oneapi"
          - "gcc"
        fds-version:
          # - "5.5.3"
          - "6.1.2"
          - "6.2.0"
          - "6.3.0"
          - "6.3.1"
          - "6.3.2"
          - "6.4.0"
          - "6.5.0"
          - "6.5.1"
          - "6.5.2"
          - "6.5.3"
          - "6.6.0"
          - "6.7.0"
          - "6.7.1"
          - "6.7.3"
          - "6.7.4"
          - "6.7.5"
          - "6.7.6+openmp"
          - "6.7.7+openmp"
          - "6.7.8"
          - "6.7.9"
          - "6.8.0"
          - "6.9.0"
          - "6.9.1"
          - "6.10.0"
          - "6.10.1"
        exclude:
          - compiler: "gcc"
            fds-version: "6.3.1"
          - compiler: "gcc"
            fds-version: "6.5.1"
          - compiler: "gcc"
            fds-version: "6.5.2"
          - compiler: "gcc"
            fds-version: "6.5.3"
          - compiler: "gcc"
            fds-version: "6.6.0"
          - compiler: "gcc"
            fds-version: "6.7.0"
          - compiler: "gcc"
            fds-version: "6.7.1"
          - compiler: "gcc"
            fds-version: "6.7.3"
          - compiler: "gcc"
            fds-version: "6.7.4"
          - compiler: "gcc"
            fds-version: "6.7.5"
    container: ${{ matrix.container }}
    steps:
        - uses: actions/checkout@v4
        - name: Install prerequisites
          run: dnf install -y file bzip2 ca-certificates git gzip patch python3 tar unzip xz zstd gcc gcc-c++ gcc-gfortran clang
        - name: Set up Spack
          uses: spack/setup-spack@v2
          with:
            ref: develop      # Spack version (examples: develop, releases/v0.23)
            buildcache: true  # Configure oci://ghcr.io/spack/github-actions-buildcache
            color: true       # Force color output (SPACK_COLOR=always)
            path: spack       # Where to clone Spack
        - run: spack install intel-oneapi-compilers
        - run: spack compiler find
        - run: spack repo create $HOME/my_pkgs my_repo
        - run: spack repo add $HOME/my_pkgs/spack_repo/my_repo
        - run: spack create --name fdsc --skip-editor
        - run: cp fds-spack/* $HOME/my_pkgs/spack_repo/my_repo/packages/fdsc
        - run: spack install fdsc@${{matrix.fds-version}}%${{matrix.compiler}}
